body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#app{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
#app_image{
    width: 30px;
    height: 30px;
    border: 1.3px solid yellow;
    border-radius: 5px; 
    margin: 10px; 
}
#Inputs{
    display: flex;
    position: absolute;
    top: 20px;
    right: 60px;
    gap: 6px;
}
.Presets{
    /* display: flex; */
    display: none;
    padding: 10px;
    flex-direction: column;
    gap: 6px;
}
input{
    width: 50px;
}
button{
    padding: 0px;
}
#ScoreCanvas{
    position: relative;
    margin: 5px;
}

canvas:not(#MixCanvas):focus{
    outline: rgb(0, 119, 255) solid 2px;
    border-radius: 2px;
}